html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans";
    background-color: #F7F7F7;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-left-auto {
    margin-left: auto !important;
}

svg.icon {
    fill: currentColor;
    display: inline-block;
    font-size: 1em;
    /* width: 1em; */
    /* height: 1em; */
    vertical-align: middle;
    overflow: hidden;
    margin-right: 0.2em;
    text-align: center;
}

.dropleft .dropdown-toggle::before {
    display: none;
}

.login-form-label {
    display: block;
    height: 19px;
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0 6px 0;
}

.reset-password-label {
    display: block;
    height: 19px;
    color: #333333;
    font-size: 14px;
    line-height: 19px;
    margin: 20px 0 6px 0;
}

.login-form-input {
    box-sizing: border-box;
    height: 45px;
    width: 338px;
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
    padding: 15px;
    font-weight: 300;
    color: #9D9D9D;
    font-size: 14.4px;
}

.button-loader {
    height: 40px;
    width: 45px;
}

.page-loader {
    margin: 100px 0 0 50%;
    height: 100px;
    width: 250px;
    position: relative;
    left: -125px;
}

.confirm-modal-loader {
    margin: 20px 0 20px 50%;
    height: 70px;
    width: 210px;
    position: relative;
    left: -105px;
}

.error-div {
    background-color: #FFCCCB;
    border: none;
    color: red;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}

/* ---------custom modal styling ------- */

.modal-backdrop {
    opacity: 1;
}

.modal-backdrop {
    background-color: rgba(230, 230, 230, 0.9);
}

.modal-content {
    width: 368px;
    background-color: inherit;
    display: flex;
    flex-direction: row-reverse;
    border: none;
    margin: 80px auto 0 auto;
}

.modal-body {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 20px 0 rgba(172, 181, 185, 0.15);
    padding: 24px 30px 30px 30px;
}

.modal-header {
    padding: 0;
    border: none;
}

.modal-header .close {
    width: 15px;
    padding: 0;
    margin: 0 0 0 10px;
    color: #535353;
    opacity: 11;
    cursor: pointer;
}

/* --------main template styles ------- */

.main {
    background-color: #176229;
    min-height: 100vh;
    padding: 0;
    display: flex;
}

.main .left {
    height: auto;
    min-width: 201px;
}

.main .left .logo {
    height: 69px;
    width: 65px;
    margin: 25px 0 0 68px;
}

.main .left .logo:hover {
    cursor: pointer;
}

.main .left .left-menu {
    margin-top: 55px;
}

.main .left .left-menu .left-menu-items {
    height: 45px;
    padding: 8px 0 0 7px;
    cursor: pointer;
}

.active-left-menu {
    background-color: rgba(255, 255, 255, 0.26);
    padding-left: 0;
    border-left: 7px #27BE58 solid;
    cursor: pointer;
}

.main .left .left-menu .left-menu-items img {
    margin: 0 10px 0 7px;
    width: 20px;
}

.main .left .left-menu .left-menu-items span {
    height: 140px;
    width: 127px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.main .right {
    flex: 1;
    width: auto;
    border-radius: 10px 0 0 10px;
    background-color: #F7F7F7;
    padding: 18px 18px 18px 20px;
    overflow: hidden;
}

.main .right nav {
    box-sizing: border-box;
    height: 50px;
    border: 1px solid rgba(207, 216, 220, 0.2);
    border-radius: 8px 8px 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(172, 181, 185, 0.11);
    padding: 12px 25px 0 0;
}

.main .right nav>ul {
    display: flex;
    padding: 0;
}

.main .right nav ul .navigate-back {
    padding: 0;
    margin-right: 15px;
    position: relative;
    top: 1.3px;
}

.main .right nav ul .navigate-back a {
    height: 25px;
    color: #009831;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.main .right nav ul .navigate-back svg {
    position: relative;
    top: -1.5px;
}

.main .right nav>ul>li {
    list-style-type: none;
    margin-left: 15px;
}

li.page-title {
    margin-right: auto;
    height: 24px;
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

li.page-title .back-link {
    color: #009831;
    cursor: pointer;
}

.main .right nav ul li>img {
    height: 24px;
    width: 26px;
    cursor: pointer;
}

.main .right nav ul li select {
    height: 16px;
    width: 158px;
    color: #424242;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;
}

.main .right .main-body {
    margin-top: 20px;
    min-height: calc(100vh - 107px);
    border: 1px solid rgba(207, 216, 220, 0.2);
    border-radius: 0 0 8px 8px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 10px 0 rgba(172, 181, 185, 0.11);
}

.main .right .main-body>ul {
    height: 52px;
    padding: 22px 0 0 0;
    display: flex;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 0;
}

.main .right .main-body .repayment-heading {
    height: 62px;
    padding: 21px 27px;
    border-bottom: 1px solid #E7E7E7;
}

.main .right .main-body .repayment-heading h6 {
    color: #424242;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.main .right .main-body>ul li {
    list-style-type: none;
    height: 19px;
    color: #27BE58;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 0 42px 28px 42px;
    cursor: pointer;
}

.active-loan-menu {
    border-bottom: 4px solid #009831;
}

.main .right .main-body>ul li>span {
    padding: 2px;
    border-radius: 50%;
    background-color: #d0e9cc;
    color: #009831;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
}

.main .right .main-body .empty-page-placeholder {
    text-align: center;
    margin-top: 90px;
}

.main .right .main-body .empty-page-placeholder img {
    height: 70px;
    width: 77px;
    margin-bottom: 22px;
}

.main .right .main-body .empty-page-placeholder h3 {
    height: 24px;
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.main .right .main-body .empty-page-placeholder span {
    height: 16px;
    width: 318px;
    color: #424242;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 764px) {
    .main {
        flex-direction: column;
    }
    .main .left {
        height: 150px;
        text-align: center;
    }
    .main .left .logo {
        height: 59px;
        width: 55px;
        margin: 25px 0 10px 0;
    }
    .main .left .left-menu {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .main .left .left-menu .left-menu-items {
        height: 25px;
        padding: 2px 0 30px 0;
        margin: 8px 0 0 40px;
    }
    .main .left .left-menu .left-menu-items img {
        height: 25px;
        width: 30px;
    }
    .main .left .left-menu .left-menu-items:hover {
        background-color: rgba(255, 255, 255, 0.26);
        border: none;
        cursor: pointer;
    }
    .main .left .left-menu .left-menu-items:first-child {
        margin-left: 0;
    }
    .active-left-menu {
        background-color: transparent;
        border: 1px #27BE58 solid;
        cursor: pointer;
    }
}

@media (max-width: 571px) {
    .main-body-content {
        margin-bottom: 20px;
    }
    .main .left {
        height: 155px;
    }
    .main .left .left-menu .left-menu-items span {
        font-size: 10px;
        font-weight: 100;
        display: block;
        height: auto;
    }
    .main .left .left-menu .left-menu-items {
        margin: 8px 0 0 0;
        height: 47px;
    }
    .main .right nav ul {
        flex-wrap: wrap;
    }
    .page-filters {
        display: block !important;
        text-align: center;
    }
    .page-filters>* {
        margin: 0;
        display: inline-block;
    }
    @media (max-width: 417px) {
        .main .left .left-menu .left-menu-items {
            margin: 8px 0 0 0;
        }
        .main .right .main-body ul li {
            padding: 0 20px 28px 20px;
        }
        .loan-card-container {
            padding-left: 0px !important;
        }
        .loan-card-container .card {
            margin: 25px auto !important;
        }
    }
    @media (max-width: 349px) {
        li.page-title {
            display: none;
        }
        .main .right nav ul {
            justify-content: center;
        }
        .main .right nav {
            height: 53px;
            padding-right: 0;
        }
    }
}

/*---------- page filters style ------------*/

.page-filters {
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px 0 0 2px;
    border-bottom: 1.5px solid #fff;
    border-top: 1.5px solid #fff;
}

.filter-boxes {
    box-sizing: border-box;
    height: 40px;
    max-width: 350px;
    border: 1px solid #CCCCCC;
    padding: 0 8px;
    margin: 12px 10px 12px 0;
}

.main-body-content .page-filters .search-box {
    max-width: 350px;
    min-width: 250px;
    margin-left: 20px;
    background-color: #F8F8F8;
    flex: 1;
}

.search-box form {
    height: 100%;
}

.main-body-content .page-filters .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

.main-body-content .page-filters .search-box input::-webkit-input-placeholder {
    color: #9D9D9D;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.main-body-content .page-filters .search-box img {
    position: relative;
    top: -25px;
    float: right;
    margin-right: 7px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.main-body-content .page-filters .date-select {
    width: 232px;
    color: #9D9D9D;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    padding-top: 10px;
}

.main-body-content .page-filters .date-select img {
    float: right;
}

.main-body-content .page-filters .action-buttons {
    max-width: 300px;
    min-width: 200px;
    width: auto;
    margin-top: 12px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
}

.main-body-content .page-filters .action-buttons button {
    border: none;
    background-color: transparent;
    color: #009831;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 19px;
    float: left;
    cursor: pointer;
}

.main-body-content .page-filters .action-buttons button:hover {
    background-color: #d0e9cc;
}

.cta-div {
    border-left: 1px solid #DDDDDD;
    height: inherit;
    padding: 12px 20px 12px 20px;
    margin-left: auto;
    display: inline-block;
}

.cta-button {
    border: none;
    background-color: #27BE58;
    color: #FFFFFF;
    height: 40px;
    width: 165px;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

.details-top .cta-button {
    width: 130px;
}

.details-top .decline-btn {
    background-color: #fff;
    border: 1.5px red solid;
    color: red;
    margin-right: 17px;
}

.cta-button img {
    margin-right: 6px;
}

.cta-div img {
    margin-right: 5px;
}

.page-filter-margins {
    margin: 12px 15px;
}

@media (max-width: 993px) {
    .table-container {
        overflow-x: auto;
    }
}

@media (max-width: 1184px) {
    .cta-div {
        border-left: none
    }
    .main-body-content .page-filters .action-buttons {
        max-width: 214px;
    }
}

/*------------cards  ------------*/

.loan-card-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 30px;
}

.loan-card-container .card {
    box-sizing: border-box;
    height: 263px;
    width: 298px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    margin: 25px 30px 0px 0px;
}

.loan-card-container .card .card-head {
    height: 65px;
    padding: 16px;
    border-bottom: 1px solid #DDDDDD;
}

.loan-card-container .card .card-head img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    top: -11px;
}

.loan-card-container .card .card-head p {
    display: inline-block;
    width: 160px;
    color: #535353;
    font-size: 16px;
    margin: 0 30px 0 6px;
    font-weight: 500;
    letter-spacing: 0.27px;
    line-height: 20px;
}

.loan-card-container .card .card-head svg {
    position: relative;
    top: -15px;
    color: #9D9D9D;
}

.loan-card-container .card .card-row {
    height: 50px;
    width: 260px;
    padding-left: 4px;
    margin: 13px 20px 0px 20px;
    display: flex;
    border-bottom: 1px solid #DDDDDD;
}

.loan-card-container .card .card-row .card-column {
    width: 50%;
}

.loan-card-container .card .card-row .card-column span {
    display: block;
}

.card .card-row .card-column .column-value {
    color: #535353;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.27px;
}

.card .card-row .card-column .column-title {
    color: #CDCDCD;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.active-status {
    background-color: rgba(14, 119, 230, 0.15);
    color: #0E77E6;
}

.inactive-status {
    background-color: #E6E6E6;
    color: #A7A7A7;
}

.new-status {
    background-color: rgba(240, 140, 20, 0.2);
    color: #F08C14
}

.status-oval {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.24px;
    width: 90px;
    height: 20px;
    border-radius: 12.5px;
    display: inline-block;
    padding-top: 2px;
}

.card .card-row:last-child {
    border: none;
}

@media (max-width: 1146px) {
    .loan-card-container .card {
        height: 263px;
        width: 298px;
        margin: 25px 10px 0px 30px;
    }
}

@media (max-width: 946px) {
    .loan-card-container {
        padding-right: 5px;
    }
    .loan-card-container .card {
        height: 263px;
        margin: 25px 0px 0px 5px;
    }
    .loan-card-container .card .card-head p {
        margin: 0 5px 0 6px;
    }
    .loan-card-container .card .card-head {
        padding-right: 0;
    }
    .loan-card-container .card .card-row {
        width: 230px;
    }
}

/* ----------- loan confirmation modal ------------ */

#confirm-action-modal .modal-content {
    border-radius: 10px;
}

#confirm-action-modal .modal-body {
    border-radius: 10px;
    box-shadow: 0 1px 20px 0 rgba(172, 181, 185, 0.15);
    text-align: center;
    padding-bottom: 30px;
}

#confirm-action-modal .modal-body h5 {
    color: #535353;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

#confirm-action-modal .modal-body p {
    color: #535353;
    font-size: 14px;
    line-height: 20px;
    margin: 9px auto 20px auto;
    width: 220px;
}

#confirm-action-modal button {
    height: 40px;
    width: 116px;
    background-color: #fff;
    color: #27BE58;
    border: 1px solid #27BE58;
    margin: 0 10px;
    cursor: pointer;
}

#confirm-action-modal .proceed-button {
    color: #FFFFFF;
    background-color: #27BE58;
}

/* ----------- loan offer modal ------------ */

.form-modal-title {
    color: #535353;
    font-size: 20px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 18px;
}

.form-modal-title-border {
    height: 6px;
    width: 100px;
    border-radius: 3px;
    background-color: #E8EAED;
    margin: 0 auto 27px auto;
}

.form-modal-label {
    display: block;
    /* color: #535353; */
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0 6px 0;
}

.form-field-info {
    color: #898989;
    font-size: 11px;
    margin: 0;
    position: relative;
    top: -14px;
}

.form-field-info+.tagged-input-box {
    top: -10px;
}

.form-field-info+.form-modal-inputs {
    position: relative;
    top: -10px;
}

.form-modal-inputs {
    padding: 15px;
    box-sizing: border-box;
    height: 45px;
    border: 1px solid #CCCCCC;
    color: #535353;
    width: 100%;
    background-color: #F8F8F8;
    display: block;
}

.long-text-input {
    width: 313px;
}

.form-short-input {
    /* !important below is to override the width of .form-modal-inputs class when used with this class */
    width: 140px !important;
    display: inline-block;
}

[disabled="disabled"] {
    background-color: lightgrey !important;
}

select.form-modal-inputs {
    padding: 10px 0px 10px 15px;
}

.form-input-error {
    color: red;
    font-size: 10px;
    margin: 0;
}

button.form-modal-button {
    height: 45px;
    width: 313px;
    margin-top: 30px;
    color: #FFFFFF;
    background-color: #27BE58;
    border: none;
    font-family: Poppins;
    font-size: 20px;
    line-height: 30px;
}

.modal-success-message {
    width: 313px;
    text-align: center;
    margin: 0;
}

/* ---------- make offer page ------------*/

.make-offer-div {
    max-width: 800px;
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
}

.progress-div {
    width: fit-content;
    margin-top: 15px;
    padding: 30px 20px;
    height: 323px;
    background-color: #F7F7F7;
}

.progress-circle {
    margin-right: 10px;
    display: inline-block;
    height: 22px;
    width: 22px;
    border: 2px solid #E9E9E9;
    border-radius: 50%;
    position: relative;
    text-align: center;
}

.progress-circle>img {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.progress-stage {
    height: 22px;
}

.progress-stage span {
    color: #535353;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 19px;
    position: relative;
    top: -6px;
}

.progress-middle {
    height: 220px;
    width: 0px;
    margin-left: 9px;
    background-color: #E9E9E9;
    border: 1.5px solid #E9E9E9;
}

.current-stage-circle {
    border: 2px solid #27BE58;
}

.radio-div {
    width: 156px;
    display: inline-block;
    margin-bottom: 10px;
}

.radio-div label {
    position: relative;
    padding: 6px 0 0 10px;
    color: #424242;
    font-size: 14px;
}

.radio-select {
    display: none;
}

.custom-radio::after {
    content: "";
    display: inline-block;
    height: 35px;
    width: 156px;
    border: 1px solid #CCCCCC;
    background-color: rgba(248, 248, 248, .1);
    box-shadow: 0 1px 10px 0 rgba(215, 215, 215, 0.15);
    position: absolute;
    top: -11px;
    left: -10.5px;
}

.radio-select:checked+label .custom-radio {
    background-color: #FFFFFF;
    border: 5px solid #27BE58;
}

.radio-select:checked+label .custom-radio::after {
    background-color: rgba(39, 190, 88, 0.1);
    border: 1px solid #27BE58;
    left: -15px;
    top: -15px;
}

.custom-radio {
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 2.5px;
    box-sizing: border-box;
    border: 1px solid #E7E7E7;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 rgba(162, 162, 162, 0.5);
}

/* ---------------user details page ---------------- */

.main-body-content .full-user-details {
    margin: 17px 16px;
    overflow-x: auto;
}

.details-top {
    display: flex;
}

.main-body-content .full-user-details h3 {
    height: 28px;
    color: #424242;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 0;
    margin-right: auto;
    align-self: center;
}

.main-body-content .full-user-details h5 {
    color: #8F8F8F;
    font-size: 20px;
    font-weight: 500;
    margin-top: 35px;
}

.full-user-details .personal-info-table {
    border-collapse: inherit;
    box-sizing: border-box;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    margin-top: 10px;
}

.full-user-details .border-table {
    border-collapse: collapse;
}

.full-user-details .border-table .t-head td {
    color: #8F8F8F;
    font-size: 14px;
}

.full-user-details .border-table .t-field td {
    color: #535353;
    font-size: 14px;
    font-weight: 500;
}

.main-body-content .full-user-details .no-border-table td {
    border: none;
}

td>.t-field {
    color: #8F8F8F;
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

td>.t-value {
    color: #535353;
    font-size: 16px;
    font-weight: 500;
}

/*-----------------Repayment table styles -----------------*/

.main-body-content .table {
    width: 100%;
}

.main-body-content .table thead {
    height: 49px;
    border-radius: 2px 0 0 2px;
    background-color: #F8F8F8;
    border-bottom: 2px solid #E7E7E7;
}

.main-body-content .table th {
    height: auto;
    padding: 10px 5px;
    color: #424242;
    background-color: #f8f8f8;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: none;
}

.main-body-content .table th>input, .main-body-content .table td>input {
    height: 15px;
    width: 15px;
    border: 1.5px solid #E3E3E3;
    border: none;
}

.main-body-content .table td {
    color: #535353;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: 450;
    line-height: 14px;
    border-bottom: 2px solid #E7E7E7;
    vertical-align: middle;
    white-space: nowrap;
}

.admin-table-row td {
    padding: 8px 8px 8px 10px;
}

.loan-request-table-row {
    cursor: pointer;
}

.loan-request-table-row:hover {
    background-color: #F7F7F7;
}

.main-body-content .table td.user-initials-cell>span {
    background-color: #E6E6E6;
    color: #A7A7A7;
    display: inline-block;
    height: 28px;
    width: 28px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    text-transform: uppercase;
    margin-left: 5px;
}

.main-body-content .table td.dropdown-cell>div {
    width: 0px;
}

.status-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 7px;
    background-color: #4DF483;
    display: inline-block;
}

.status-circle.pending{
    background-color: #F08C14;
}

.main-body-content .pagination {
    float: right;
    margin: 8px 40px 0 10px;
}

.main-body-content .pagination-button {
    color: #009831;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
}

.main-body-content .pagination-text {
    color: #424242;
    font-size: 14px;
    line-height: 19px;
    margin: 0 20px;
}

/*---------------user setup page --------------- */

.main-body-content .users {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.main-body-content .users .user-card {
    box-sizing: border-box;
    height: 263px;
    width: 271px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px 10px 5px 10px;
    margin: 0 27px 27px 0;
}

.main-body-content .users .add-user {
    text-align: center;
}

.main-body-content .users .add-user img {
    display: block;
    margin: 35px 60px 35px 75px;
}

.main-body-content .users .add-user button {
    display: block;
    height: 45px;
    width: 196px;
    background-color: rgba(0, 152, 49, 0.15);
    border: none;
    color: #009831;
    font-size: 20px;
    line-height: 24px;
    margin: 20px auto;
}

.main-body-content .users .user-card .card-head {
    height: 78px;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
}

.main-body-content .users .user-card .picture {
    height: 62px;
    width: 62px;
    background-color: #E6E6E6;
    color: #A7A7A7;
    border-radius: 50%;
    text-align: center;
    padding: 22px 12px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.34px;
    line-height: 20px;
    margin: 3px 10px 0 0;
    text-transform: uppercase;
}

.user-card .card-head .fullname {
    color: #535353;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.27px;
    margin: 0;
    text-transform: capitalize;
}

.dropdown svg {
    color: #9D9D9D;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding: 5px 0;
    border-radius: 50%;
}

.dropdown svg:hover {
    background-color: #F4F4F4;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 24px !important;
    left: 29px !important;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(226, 222, 222, 0.5);
    outline: none;
    min-width: fit-content;
    height: auto !important;
    padding: 0;
}

.dropdown>button {
    padding: 0;
    color: #535353;
}

.dropdown>.dropdown-menu li {
    width: fit-content;
    padding: 0;
    height: auto;
    width: 100%;
}

.dropdown>.dropdown-menu li:hover {
    border: none;
    background-color: #F8F9FA;
}

.dropdown>.dropdown-menu li>button {
    padding: 5px 7px 10px 7px;
    margin: 4px 0;
    height: 25px;
    color: #535353;
    font-size: 14px;
}

.dropdown>.dropdown-menu li>button>img {
    width: 16px;
    height: 15px;
    margin-right: 10px;
}

.user-card .user-detail {
    color: #CDCDCD;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.24px;
    line-height: 25px;
    margin: 0;
}

.user-card .card-body {
    padding: 5px 3px 0 10px;
}

.user-card .user-detail-value {
    color: #535353;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.24px;
    margin: 0 0 8px 0;
    width: 230px;
    -ms-overflow-style: none;
    overflow-x: scroll;
}

.user-card .user-detail-value::-webkit-scrollbar {
    display: none;
}

.user-card .card-body .status-oval {
    margin-top: 3px;
}

/* ------------ Toast -------------- */

.toast {
    max-width: 649px;
    width: 649px;
    padding: 7px 0px;
    border: none;
    border-top: 4px solid #01C04F;
}

.toast-header {
    border-bottom: none;
}

.toast-header>img {
    height: 40px;
    width: 40px;
    margin-right: 13px;
}

.toast-header h5 {
    color: #01C04F;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.34px;
    line-height: 24px;
    margin: 0px;
}

.b-toaster-slot {
    max-width: 649px !important;
    margin-top: 75px !important;
    width: 649px;
}

.toast-body {
    padding: 0;
}

.file-input-div {
    position: relative;
}

.form-control-file {
    position: absolute;
    top: 45px;
    left: 0;
    opacity: 0;
    height: 89px;
    cursor: pointer;
}

.form-control-file:focus+.file-input-background {
    border: 1px #007bff solid;
}

.file-input-background {
    width: 100%;
    height: 89px;
    text-align: center;
    margin-top: 8px;
    padding-top: 28px;
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
}

.file-input-background img {
    display: block;
    margin: 0 auto;
    Width: 18px;
    Height: 21px;
}

.file-input-background span {
    display: block;
    font-size: 12px;
    color: #898989;
    font-weight: 600;
}

.file-input-label {
    height: 35px;
}

.file-input-label img {
    float: left;
    height: 25px;
    width: 32px;
    margin-top: 5px;
}

.file-input-label .top-label-text {
    color: #424242;
    font-size: 14px;
    display: block;
    font-weight: 400;
}

.file-input-label .bottom-label-text {
    color: #898989;
    font-size: 11px;
    display: block;
    margin-top: -3px;
}

.short-dropdown-box {
    width: 140px;
    display: inline-block;
}

.short-input-inner-label {
    display: block;
    height: 14px;
    color: #BFBFBF;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    transition: all .5s;
}

.short-input {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    padding: 15px 10px;
    color: #535353;
    background-color: transparent;
    font-size: 14px;
}

.inner-label-input {
    padding: 18px 10px 0 10px
}

.inner-label-input::-webkit-input-placeholder {
    visibility: hidden;
}

.inner-label-input:focus+.short-input-inner-label, .inner-label-input:valid+.short-input-inner-label {
    margin-top: 0;
}

.short-input-box {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    width: 150px;
    height: 45px;
    padding: 5px 10px;
    position: relative;
}

.double-input-range-text {
    height: 14px;
    text-transform: uppercase;
    color: #535353;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    width: 33px;
    display: inline-block;
}

.short-tagged-input {
    width: 140px;
    display: inline-block;
}

.long-tagged-input {
    width: 100%;
    display: inline-block;
}

.tagged-input-box {
    display: flex;
    border: 1px solid #CCCCCC;
    height: 45px;
    position: relative;
}

.tagged-input {
    height: 100%;
    width: calc(100% - 39px);
    margin: 0;
    border: none;
    padding: 15px 10px;
    color: #535353;
    background-color: #F8F8F8;
}

.tagged-input::-ms-input-placeholder {
    height: 16px;
    color: #BFBFBF;
    font-size: 14px;
}

.tagged-input::placeholder {
    height: 16px;
    color: #BFBFBF;
    font-size: 14px;
}

.tag-box {
    width: 39px;
    display: inline-block;
    height: 100%;
    padding: 10px 13px;
    background-color: #EFEFEF;
}

.tagged-input-box>img {
    height: 20px;
    width: 13px;
}

.left-tag-box {
    border-right: 1px solid #CCCCCC;
}

.right-tag-box {
    border-left: 1px solid #CCCCCC;
    margin-left: auto;
}

.input-tag-right:focus {
    padding-right: 54px;
}

.input-tag-left:focus {
    padding-left: 54px;
}

.tagged-input:focus {
    width: 100%;
    position: absolute;
    left: 0px;
    background-color: transparent;
}